@layer utilities {
  @keyframes enter {
    from {
      opacity: 0;
      transform: translate3d(0, 8px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes exit {
    from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    to {
      opacity: 0;
      transform: translate3d(0, 8px, 0);
    }
  }

  .animate-in {
    animation: enter 0.2s ease-out;
  }

  .animate-out {
    animation: exit 0.2s ease-in;
  }
}
