apiVersion: apps/v1
kind: Deployment
metadata:
  name: cmp-frontend
  namespace: cmp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cmp-frontend
  template:
    metadata:
      labels:
        app: cmp-frontend
    spec:
      containers:
        - name: frontend
          image: cmp-frontend:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 20
