apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: cmp-sqlite-pvc
  namespace: cmp
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: local-path
